<a href="https://colab.research.google.com/github/cijagani/phd-work/blob/master/item_based_rs_demo_cijagani.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**load required libraries and tools**

In [ ]:
#import scientific computing package
import numpy as np

#for data manipulation and analysis
import pandas as pd

#Visualization library mainly for charts
import matplotlib.pyplot as plt

**get movices.csv file from user**

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving movies.csv to movies (1).csv
User uploaded file "movies.csv" with length 484688 bytes

**read uploaded CSV file**

In [ ]:
movies = pd.read_csv("movies.csv")
movies.head()

   movieId                               title                                       genres
0        1                    Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2                      Jumanji (1995)                   Adventure|Children|Fantasy
2        3             Grumpier Old Men (1995)                               Comedy|Romance
3        4            Waiting to Exhale (1995)                         Comedy|Drama|Romance
4        5  Father of the Bride Part II (1995)                                       Comedy

**get ratings.csv file from user**

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving ratings.csv to ratings.csv
User uploaded file "ratings.csv" with length 2382886 bytes

**read uploaded CSV file**

In [ ]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

**apply left join**

In [ ]:
df = movies.merge(ratings, how="left", on="movieId")
df.head()

   movieId             title                                       genres  userId  rating     timestamp
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy     1.0     4.0  9.649827e+08
1        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy     5.0     4.0  8.474350e+08
2        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy     7.0     4.5  1.106636e+09
3        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy    15.0     2.5  1.510578e+09
4        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy    17.0     4.5  1.305696e+09

**find unique users and movices from the dataset**

In [ ]:
unique_user = ratings.userId.nunique(dropna = True)
unique_movie = ratings.movieId.nunique(dropna = True)
print("number of unique user:")
print(unique_user)
print("number of unique movies:")
print(unique_movie)

number of unique user:
610
number of unique movies:
9724